# http://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
# code blocks in lists get confused with only 2 spaces
indent_size = 4

[*.tf]
indent_size = 2

[*.tfstate]
indent_size = 4
