on: push
name: Example
jobs:
  example:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Simulate test by copying example report to the report directory
        run: |
          mkdir -p ./reports/junit/
          cp ./example/junit.xml ./reports/junit/
        # Please replace "master" with the latest git tag
        - uses: check-run-reporter/action@master
        if: ${{ always() }}
        env:
          CHECK_RUN_REPORTER_LABEL: 'Unit Tests'
          CHECK_RUN_REPORTER_REPORT: 'reports/junit/**/*.xml'
          CHECK_RUN_REPORTER_TOKEN: ${{ secrets.CHECK_RUN_REPORTER_TOKEN }}
